In [48]:
#import libraries

import numpy as np
import pandas as pd

#data stuff
#import data with pandas
df = pd.read_csv('crisis_dataset.csv')

#data cleaning

# drop notes column, drop complexity, drop A1 Nukes and A2 Nukes, drop name
df.drop(['NOTES','COMPLEXITY','A1 NUKES','A2 NUKES','NAME'], axis=1, inplace=True)

# drop the rows that are completely empty
df.dropna(how='all', inplace=True)

#dropna??
#df.dropna(inplace=True)

#iterate through crisis, history, row for each crisis
first_column = 'CRISNO'
second_column = 'HISTORY'

unique_crisis_no = df[first_column].unique()
final_selected_rows = []

print(df)
print(unique_crisis_no)

# iterate over crisis nos
for first_value in unique_crisis_no:
    # this filters data for unique crisis no
    filtered_df_first = df[df[first_column] == first_value]
    
    # this initializes the unique history for each crisis
    unique_history = filtered_df_first[second_column].unique()
    chosen_history = np.random.choice(unique_history) # choose one unique history randomly

    final_filtered_df = filtered_df_first[filtered_df_first[second_column] == chosen_history] # filter data for the chosen history

    # randomly select a single row from filtered data
    final_selected_row = final_filtered_df.sample(n=1)

    # append to final list
    final_selected_rows.append(final_selected_row)

# combine to df
final_combined_df = pd.concat(final_selected_rows)

print(final_combined_df)

#model stuff

     CRISNO  YEAR  HISTORY ACTOR 1 ACTOR 2            A1 THREAT  \
2     445.0  2004      1.0     GRG     RUS         CONVENTIONAL
3     446.0  2005      1.0     ETH     ERI         CONVENTIONAL
4     447.0  2005      1.0     CHA     SUD         CONVENTIONAL
5     448.0  2006      1.0     IRN     USA                  NaN
6     448.0  2006      2.0     IRN     UKG              NUCLEAR
..      ...   ...      ...     ...     ...                  ...
991   171.0  1959      NaN     CHN     IND         CONVENTIONAL
992   172.0  1959      NaN     IRQ     IRN  CONVENTIONAL, OTHER
993   173.0  1960      NaN     EGY     ISR         CONVENTIONAL
994   175.0  1960      NaN     DOM     VEN         CONVENTIONAL
995   175.0  1960      NaN     DOM     USA                  NaN

               A2 THREAT  A1 INTENSITY  A2 INTENSITY  KINETIC  ...  \
2           CONVENTIONAL           2.0           1.0      1.0  ...
3           CONVENTIONAL           3.0           3.0      1.0  ...
4           CONVENTIONAL           1.0           1.0      1.0  ...
5               ECONOMIC           NaN           1.0      0.0  ...
6               ECONOMIC           3.0           1.0      0.0  ...
..                   ...           ...           ...      ...  ...
991         CONVENTIONAL           4.0           4.0      1.0  ...
992  CONVENTIONAL, OTHER           4.0           4.0      1.0  ...
993         CONVENTIONAL           3.0           4.0      0.0  ...
994             ECONOMIC           4.0           4.0      1.0  ...
995             ECONOMIC           1.0           3.0      0.0  ...

     Unnamed: 28  Unnamed: 29  Unnamed: 30  Unnamed: 31  Unnamed: 32  \
2            NaN          NaN          NaN          NaN          NaN
3            NaN          NaN          NaN          NaN          NaN
4            NaN          NaN          NaN          NaN          NaN
5            NaN          NaN          NaN          NaN          NaN
6            NaN          NaN          NaN          NaN          NaN
..           ...          ...          ...          ...          ...
991          NaN          NaN          NaN          NaN          NaN
992          NaN          NaN          NaN          NaN          NaN
993          NaN          NaN          NaN          NaN          NaN
994          NaN          NaN          NaN          NaN          NaN
995          NaN          NaN          NaN          NaN          NaN

     Unnamed: 33  Unnamed: 34 Unnamed: 35 Unnamed: 36 Unnamed: 37
2            NaN          NaN         NaN         NaN         NaN
3            NaN          NaN         NaN         NaN         NaN
4            NaN          NaN         NaN         NaN         NaN
5            NaN          NaN         NaN         NaN         NaN
6            NaN          NaN         NaN         NaN         NaN
..           ...          ...         ...         ...         ...
991          NaN          NaN         NaN         NaN         NaN
992          NaN          NaN         NaN         NaN         NaN
993          NaN          NaN         NaN         NaN         NaN
994          NaN          NaN         NaN         NaN         NaN
995          NaN          NaN         NaN         NaN         NaN

[935 rows x 33 columns]
[445. 446. 447. 448. 450. 451. 453. 454. 455. 456. 457. 458. 459. 460.
 461. 462. 463. 464. 466. 469. 470. 471. 472. 473. 475. 476. 477. 484.
 388. 391. 392. 393. 397. 399. 400. 401. 402. 403. 404. 405. 408. 409.
 410. 411. 412. 413. 415. 416. 417. 418. 419. 420. 421.  nan 317. 320.
 324. 321. 322. 325. 326. 327. 328. 333. 334. 336. 337. 338. 340. 341.
 342. 343. 348. 350. 352. 353. 354. 357. 358. 359. 361. 362. 363. 422.
 423. 424. 425. 365. 369. 370. 372. 371. 375. 376. 378. 379. 380. 381.
 382. 383. 384. 386. 387. 241. 242. 243. 245. 246. 247. 248. 249. 254.
 255. 257. 258. 259. 260. 261. 263. 267. 270. 272. 274. 277. 281. 282.
 284. 285. 287. 288. 290. 291. 216. 219. 220. 222. 223. 224. 225. 226.
 227. 230. 231. 232. 234. 235. 237. 238. 292. 293. 294. 295. 296. 298.
 300. 301. 303. 304. 305. 307. 309. 310. 311. 314. 315. 492. 488. 494.
 485. 478. 486. 489. 480. 495. 487. 483. 481. 491. 496. 482. 474. 111.
 113. 114. 115. 116. 118. 119. 120. 121. 123. 125. 127. 128. 129. 132.
 133. 134. 135. 136. 139. 140. 142. 144. 145. 146. 147. 149. 150. 152.
 426. 427. 429. 430. 431. 432. 434. 435. 436. 437. 438. 439. 440. 441.
 442. 443. 444. 176. 177. 178. 180. 181. 182. 183. 184. 185. 186. 187.
 193. 194. 195. 196. 197. 198. 199. 202. 203. 204. 205. 206. 208. 209.
 210. 211. 212. 213. 214. 153. 156. 159. 162. 165. 166. 168. 169. 170.
 171. 172. 173. 175.]

ValueError: a must be greater than 0 unless no samples are taken